<% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Reset Your Password</h5>
                        <form action="/forgot-password" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" autofocus required>
                                <div class="valid-feedback">
                                    OK
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Send Reset Link</button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>